.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f2f5;
}
.card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-title-image {
  width: 34px;
  height: 30px;
}
